.dashboard {
    display: flex;
    align-items: center;
}
.carousel-inner {
    width: 400px;
    height: 500px;
    margin-right: 300px;
}
.grey {
    color: gray;
}
.green {
    color: rgb(75, 235, 75);
}