*{
  text-decoration: none;
}
.container{
 display: flex;
}
main{
  width: 50%;
  padding: 20px;
}
.sidebar{
  background: #000;
  margin-right: 100px;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}